{% extends 'base.html.twig' %}

{% block title %}{{ track.trackName }} - {{ track.artistName }}{% endblock %}

{% block body %}
    <main>
        <div class="track-info">
            <div class="track-info__cover">
                <img src="{{ track.picture }}" alt="{{ track.trackName }} cover">
            </div>
            <div class="track-info__details">
                <h2>{{ track.trackName }}</h2>
                <p><strong>Artist:</strong> {{ track.artistName }}</p>
                <p><strong>Type:</strong> {{ track.type }}</p>
            </div>
        </div>
    </main>

    <style>
        .track-info {
            display: flex;
            align-items: center;
            margin-top: 50px;
        }

        .track-info__cover img {
            width: 200px;
            height: 200px;
            border-radius: 10px;
        }

        .track-info__details {
            margin-left: 20px;
        }

        .track-info__details h2 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .track-info__details p {
            font-size: 1.2rem;
            margin-bottom: 5px;
        }
    </style>

{% endblock %}
